<section class="topo">
    <header>
      <p>Pedro Mendes e Luísa</p>
      <nav>
        <ul>
          <li><a>Home</a></li>
          <li><a>Sobre</a></li>
          <li><a>Projetos</a></li>
          <li><a>Contato</a></li>
        </ul>
      </nav>
      <a class="botao">Contato</a>
    </header>
    <main>
      <div class="competencias">
          <p>Inovativos</p>
          <div class="bolinha"></div>
          <p>Compreensivos</p>
          <div class="bolinha"></div>
          <p>Engraçados</p>
      </div>
      <h1>Estudantes de Lógica de Programação</h1>
      <p>
          Amante de judô (Luísa) e um amante do Vasco da Gama(Pedro)
      </p>
      <div class="botoes">
          <a>Meus trabalhos </a>
          <a>Sobre mim</a>
      </div>


    </main>
  </section>
