<div>
    <h1>Nossos Projetos</h1>
    <section class="grid grid-template-columns-1">
        <div class="item">
            <img src="\assets\img\scratch.jpg">
            <h3>Scratch</h3>
            <p>Fizemos um Projeto no Scratch</p>
        </div>
        <div class="item">
            <div (click)="abreProjeto('piadas')">
            <img src="">
            <h3>API de Piadas</h3>
            <p>Programa de piada humor</p>
        </div>
        </div>
        <div class="item">
            <img src="\assets\img\visual studio.jpg">
            <h3>Visual Studio Code</h3>
            <p>Fizemos um trabalho no Visual Studio Code</p>
            
        </div>
        
        