<section class="fundo">
 <article>
    <h1>Sobre nós</h1>
    <p>
        Sou Pedro Mendes da Silva,tenho 15 anos, sou estudante do Ensino médio do Raulino Horn periodo matutino, e faço academia,
        faço curso do SENAI/Indaial de Lógica da Programação à noite. Gosto do Vasco da Gama, Vegetti e do Léo Jardim,
        gosto muito de futebol e de jogar Brawl Stars no celular. Gosto muito de viajar e aproveitar o tempo com a minha família.
    </p>
<p>Sou Luísa de Barcelos Simão, tenho 15 anos, sou estudante do Ensino Médio do Raulino Horn no periodo matutino,
        faço curso do SENAI/Indaial de Lógica da Programação à noite. a tarde trabalho como babá e as quintas-feiras faço judô.
         Tenho 4 cachorras e uma gata.
    </p>


    <p></p>
 </article>
 <figure>
    <img src="\assets\img\filhote-de-golden-retriever.jpg">
 </figure>
</section>
